{% extends "base.html" %}
{% block game %}

<!--Winner announcement message-->
<div class="row">
    <div class="col-4 offset-1">
        {% if winners|length > 1 %}
            <h2 class="text-warning my-5">The game is a tie between:
            {% for winner in winners %}
                <strong>{{winner}}</strong>
            {% endfor %}
            </h2>
            {% else %}
                <h2 class="text-warning my-5">The winner is <strong>{{winners[0]}}</strong></h2>
            {% endif %}
    </div>
</div>
{% for player in top_paths %}
    <div class="row">
    <!-- Scoring information -->
    <div class="col-2 offset-1">
        <p><strong>Scoring tree types for {{ player }}</strong></p>
            {% for tree in top_paths[player] %}
                {% set score = top_paths[player][tree]["Score"] %}
                {% if score != None %}
                    <div class="scoring_tree_type">
                        <p onmouseover='highlight_path("{{player}}", "{{tree}}");' onmouseleave="dim_all_cards();">{{tree}}: {{score}}</p>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
    <!-- Player boards -->
    <div class="col-5">
        <strong class="mb-1">{{player}}'s board</strong>
        <table class="table-condensed">
            {% for row in player_boards[player] %}
            {% set outer_loop = loop.index - 1 %}
            <tr>
                {% for card in row %}
                {% set inner_loop = loop.index - 1 %}
                <td>
                    {% if card.name != None %}
                        <!--ID syntax: player_num + row_num + col_num. Example: 111 means (Player 1, Row 1, Column 1)-->
                        <!--TODO - writing the player name here is risky as game could break, e.g. what if player name contains an escape char - will be fine for now though-->
                        <img class="card_on_board zoom" id="{{player}}{{outer_loop}}{{inner_loop}}" src="../static/css/playing_cards/{{card.name}}.png">
                    {% else %}
                        <input class="card_on_board dimmed blank_choose_coord" src="../static/css/other/blank-w-border.png" type="image">
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col">
                    <div class="mb-1"><strong>{{player}}'s hand</strong></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for card in player_hands[player] %}
                        <img class="card_on_hand" src="../static/css/playing_cards/{{card}}.png">
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endfor %}

<script>
    // Get the top paths as a JS variable from the Jinja template
    let top_paths = ({{ top_paths|tojson|safe }})
    dim_all_cards();
</script>

{% endblock %}
