{% extends "base.html" %}
{% block game %}

<!--Main board title-->
<div class="row">
    <div class="col offset-3">
        <!-- TODO - add in a message on what the player is "doing" - e.g. discarding, playing etc.-->
        <h4 id="main_board_title" class="text-warning fade-in-text"></h4>
    </div>
</div>

<div class="row align-items-end mb-3">
    <!--Deck-->
    <div class="col-1 offset-1">
        <p class="mb-2 fade-in-text"><small id="cards_left"></small></p>
        <form>
            <div class="overlay-button-container">
                <img class="card_on_hand" src="../static/css/other/deck-full.png">
                <div class="hide" id="draw_button_container">
                    <input class="btn btn-dark" id="draw_button" type="button" value="Draw card">
                </div>
            </div>
        </form>
    </div>
    <!-- Discard piles -->
    <div class="col-1"  id="discard_div">

    </div>

    <!-- Main Board-->
    <div class="col-4">
        <table class="table-condensed" id="main_board">
        </table>
    </div>

    <!--Side board(s)-->
    <div class="col-4" id="side_board_container">
    </div>
</div>

<!--Player hand -->
<div class="row" id="player_hand_div"></div>

<script> socket.emit("get board state");</script>

{% endblock %}
