/* ratio of the cards should be 3:2 */

.oak {
    content : url("faces/oak.gif");
    height: 200px;
    width: 130px;
}

.card_on_hand {
    height: 200px;
    width: 130px;
}

.cassia {
    content : url("faces/cassia.gif");
    height: 200px;
    width: 130px;
}

.dogwood {
    content : url("faces/dogwood.gif");
    height: 200px;
    width: 130px;
}

.jacaranda {
    content : url("faces/jacaranda.gif");
    height: 200px;
    width: 130px;
}

.oak-mini {
    content : url("faces/oak.gif");
    height: 84px;
    width: 56px;

    }
.jacaranda-mini {
    content : url("faces/jacaranda.gif");
    height: 84px;
    width: 56px;

    }
 .cassia-mini {
    content : url("faces/cassia.gif");
    height: 84px;
    width: 56px;

    }
  .dogwood-mini {
    content : url("faces/dogwood.gif");
    height: 84px;
    width: 56px;

    }

.blank-mini {
    content : url("faces/blank.gif");
    height: 84px;
    width: 56px;

    }
.blank-w-border-mini {
    content : url("faces/blank-w-border.gif");
    height: 84px;
    width: 56px;

    }

input.blank-w-border-mini:hover
{
    content : url("faces/blank-selected.gif");
}

.deck-full
{
    content : url("faces/deck-full.gif");
    height: 200px;
    width: 130px;
}
