

.oak {
    content : url("faces/oak.gif");
    height: 200px;
    width: 130px;
}

.cassia {
    content : url("faces/cassia.gif");
    height: 200px;
    width: 130px;
}

.dogwood {
    content : url("faces/dogwood.gif");
    height: 200px;
    width: 130px;
}

.jacaranda {
    content : url("faces/jacaranda.gif");
    height: 200px;
    width: 130px;
}