<!DOCTYPE html>
<head xmlns="">
  <title>Arboretum</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cards.css') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='js/arboretum.js') }}"/></script>

</head>
<body>
    <div class="container-fluid">
        <!--Flash messages-->
        <div class="row justify-content-center text-center">
            <div class="col-12">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                {% set alert_class = "alert-danger" %}
                            {% else %}
                                {% set alert_class = "alert-primary" %}
                            {% endif %}
                            <div class="alert {{alert_class}} py-0 my-1" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
            {% block game %}
            <!-- Game area -->
            {% endblock %}
        </div>
    </div>

</body>


</html>