{% extends "base.html" %}
{% block game %}

<div class="row align-items-end">
    <!-- Deck -->
    <!--TODO - consider replacing the empty deck with the empty card png-->
    <div class="col-1 offset-1">
        <p class="mb-0"><strong>Deck</strong></p>
        <p id="cards_left"></p>
        <form>
            <div class="overlay-button-container">
                <img class="card_on_hand" src="../static/css/other/deck-full.png">
                <div class="hide_button" id="draw_button_container">
                    <input class="btn btn-dark" id="draw_button" type="button" value='Draw card'>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1" id="discard_div">
        <!-- Discard pile(s)-->
    </div>
    <div class="col-5">
        <h4 class="mb-1" id="main_board_title"></h4>
        <table class="table-sm" id="main_board">
            <!-- Main Board-->
        </table>
    </div>
    <div class="col-3" id="side_board_container">
        <!--Side board(s)-->
    </div>
</div>

<!--Player hand-->
<div class="row justify-content-center" id="player_hand_div">
</div>

<script>
    socket.emit("get board state");
</script>





{% endblock %}
