{% extends "base.html" %}
{% block game %}

<div class="row">
    <div class="col-4 offset-2">
        <h4 class="mb-1" id="main_board_title"></h4>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4 offset-2 mb-2">
        <table class="table-condensed" id="main_board">
            <!-- Main Board-->
        </table>
    </div>
    <div class="col-6">
        <div class="row mb-2" id="side_board_container">
        </div>
        <!--Side board(s)-->
        <div class="row"  id="discard_div">
        </div>
    </div>
</div>


<div class="row mb-2">
    <div class="col-2 offset-2">
        <strong id="cards_left">The deck</strong>
    </div>
    <div class="col-4">
        <strong>Your cards</strong>
    </div>
</div>

<div class="row" id="player_hand_div">
    <!--Player hand and deck -->
</div>

<script>
    socket.emit("get board state");
</script>





{% endblock %}
