{% extends "base.html" %}
{% block game %}

<div class="row">
    <div class="col-3 offset-3">
        <h4 class="mb-3" id="main_board_title"></h4>
    </div>
</div>

<div class="row">
    <div class="col-2 offset-1 mb-5" id="discard_div">
        <!-- Discard pile(s)-->
    </div>
    <div class="col-4 mb-5">
        <table class="table-condensed" id="main_board">
            <!-- Main Board-->
        </table>
    </div>
    <div class="col-3 mb-5" id="side_board_container">
        <!--Side board(s)-->
    </div>
</div>


<div class="row mb-2">
    <div class="col-2 offset-1">
        <strong id="cards_left">The deck</strong>
    </div>
    <div class="col-4">
        <strong>Your cards</strong>
    </div>
</div>

<div class="row" id="player_hand_div">
    <!--Player hand and deck -->
</div>

<script>
    socket.emit("get board state");
</script>





{% endblock %}
