{% extends "base.html" %}
{% block game %}

<div class="row text-center">
    <div class="col mb-5">
        <h1>Sit down at the table and start the game</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-5 offset-1">
        <form class="form sit_down_form">
            <div>
                <textarea class="form-control" id="player_name_input">Enter player name...</textarea>
                <input type="submit" class="btn btn-dark mb-3" value="Join game">
            </div>
        </form>
        <input class="btn btn-dark mb-3" id="leave_game" value="Leave game">
    </div>
    <div class="col-6">
        <h2>Player's in the game</h2>
        <ul id="player_list"></ul>
        <input class="btn btn-warning" value="Start game">
    </div>
</div>

{% endblock %}

