<html>
<head>
  <title>Arboretum</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cards.css') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</head>

<body>

<!--TODO - maybe split components (e.g. board, hand) and then have an overall template where they plug in?-->

<div class="container-fluid">

    <!--Messages-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <!--Board-->
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <!--Deck-->
            <form action="/draw_card_from_deck" method="post">
                <span class="deck-full"></span>
                <p>There are currently {{num_cards_in_deck}} cards in the deck</p>
                {% if game_phase == "Draw" %}
                <input type="submit" class="btn btn-info" value="Draw from deck">
                {% endif %}
            </form>
        <!--Discard pile-->
            {% for player_name in top_discard_cards %}
                <p><b>{{player_name}}'s discard pile</b></p>
                {% set top_discard_card = top_discard_cards[player_name] %}
                {% if top_discard_card != None %}
                     <form action="/draw_from_discard" method="post">
                        <img class="card_on_hand" src="../static/css/playing_cards/{{top_discard_card}}.png">
                        <input type="hidden" name="discard_owner" value="{{player_name}}">
                        {% if game_phase == "Draw" %}
                            <input type="submit" class="btn btn-info" value="Draw from discard">
                        {% endif %}
                     </form>
                {% else %}
                    <p>Discard pile is empty</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-4">
                <!--Board-->
                <p>{{ current_player_name}}'s board</p>

                <table class="table-sm">
                    {% for row in player_boards[current_player_name] %}
                    {% set outer_loop = loop.index - 1 %}
                    <tr>
                        {% for card in row %}
                        {% set inner_loop = loop.index - 1 %}
                        <td>
                            {% if card.card_name != None %}
                                <img class="card_on_board" src="../static/css/playing_cards/{{card.card_name}}.png">
                            {% else %}
                                {% if game_phase == "Choose Coords" %}
                                <form action="/choose_coordinates" method="post">
                                    <input type="hidden" name="coords" value="{{outer_loop, inner_loop}}">
                                    <input type="image" class="card_on_board" onmouseover="hover(this);" onmouseout="unhover(this);" src="../static/css/other/blank-w-border.png">
                                </form>
                                {% else %}
                                <!-- Form tag is here to ensure formatting is the same as during coord selection -->
                                <form>
                                <img class="card_on_board" src="../static/css/other/blank-w-border.png">
                                </form>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>

    <div class="row">

    </div>
    <!--Player hand-->
    <div class="row justify-content-center">
        {% for card in player_hands[current_player_name] %}
        <div class="col 4">
            {% if game_phase == "Choose Card" %}
            <form action="/play_card" method="post">
                <input type="hidden" name="card_name" value="{{card}}">
                <button class="btn border pb-3">Play Card</button>
            </form>
            {% elif game_phase == "Choose Discard" %}
            <form action="/discard_card" method="post">
                <input type="hidden" name="card_name" value="{{card}}">
                <button class="btn border pb-3">Discard Card</button>
            </form>
            {% else %}
                <!-- Invisible placeholder button to prevent jumping elements when buttons appear -->
                <!-- TODO: make a better way of making elements not jump -->
                <button class="btn border pb-3" style="visibility:hidden;">Placeholder</button>
            {% endif %}
            <img class="card_on_hand" src="../static/css/playing_cards/{{card}}.png">
        </div>
        {% endfor %}
    </div>
</div>

<script>
// Lights up empty tiles when player is choosing where to place a card
function hover(element) {
  element.setAttribute('src', '../static/css/other/blank-selected.png');
}

function unhover(element) {
  element.setAttribute('src', '../static/css/other/blank-w-border.png');
}

</script>

</body>



</html>
